/* Глобальні стилі */

:root {
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --black: #000000;
    --navyblue: #2E2F42;
    --slate: #434455;
    --white: #FFF;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
}

body {
    font-family: var(--main-font);
    background-color: var(--white);
    color: var(--slate);
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover,
.link:focus{
    color: var(--ocean);
}

.list {
    list-style: none;
}

.button{
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: var(--ocean);
    color: var(--white);
}


.logo {
    color: var(--iris);
    font-family: var(--second-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo:hover,
.logo:focus{
    color: var(--iris);
}

.title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.hidden-element {
    visibility: hidden;
}

/*Header*/

.header{
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-address{
    font-style: normal;
    color: var(--slate);
    font-weight: 400;
}


.logo-first{
    color: var(--navyblue);
}

.logo-second{
    color: var(--cloud)
}


.contacts{
    font-style: normal;
}

/*Hero*/


.hero{
    background-color: var(--navyblue);
}

.hero-title {
    text-align: center;
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.button-main{
    background-color: var(--iris);
    color: var(--white, );
}


/*Advantages*/


.advantages-h,
.card-h,
.team-name{
    color:var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.advantages-p,
.card-p,
.team-front {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*Our Team*/

.team {
    background-color: var(--cloud);
}

.team-card{
    background-color: var(--white);
}

/*Footer*/

.footer{
    background-color: var(--navyblue);
    color: var(--cloud);
}

.footer-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*portfolio*/

.button-portfolio{
    background: var(--cloud);
    color: var(--iris);
}

